@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  display: flex;
}

.main-container {
  background-color: #F3EFE0; /* Eggshell */
  min-height: 100vh;
  padding-top: 100px; 
  padding-bottom: 100px; 
  overflow-y: auto;
}

.header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding: 20px;
  background-color: #000000; /* Black */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header h1 {
  padding-left: 50px;
  color: #CBA135; /* Satin Sheen Gold */
  font-size: 30px;
}

.header p {
  padding-left: 50px;
  color: #7FEFBD; /* Aquamarine */
  font-size: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  padding: 20px;
  background-color: #000000; /* Black */
  z-index: 1000;
}

.footer h1 {
  color: #CBA135; /* Satin Sheen Gold */
  font-size: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 20px; 
  padding: 0 50px; 
}

.social-icons img {
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-icons img:hover {
  
  transform: scale(1.2); 
}

.blogs-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.blog-card {
  background-color: #F3EFE0; /* Eggshell */
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px;
  width: 350px;
  text-align: center;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.9s ease-in-out;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px, rgba(0, 0, 0, 0.3) 0px 10px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* background-color: #CBA135; Satin Sheen Gold */
}

.blog-image {
  border-radius: 0px;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #000000; /* Black */
}

.blog-text {
  font-size: 14px;
  margin: 10px 0;
  color: #000000; /* Black */
}

.read-more {
  background-color: #7FEFBD; /* Aquamarine */
  color: #000000; /* Black */
  border: none;
  padding: 10px 50px;
  border-radius: 0px;
  cursor:pointer;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #CBA135; /* Satin Sheen Gold */
}


.swirl-in-bck {
  -webkit-animation: swirl-in-bck 0.65s ease-out 1s both;
  animation: swirl-in-bck 0.65s ease-out 1s both;
}

/* Animation Keyframes */
@-webkit-keyframes swirl-in-bck {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
    transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-bck {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
    transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .blogs-container {
    justify-content: center; /* Center the blog cards */
  }
}

@media (max-width: 992px) {
  .blog-card {
    width: 40%; /* Adjusting width for larger tablets */
  }
}

@media (max-width: 768px) {
  .header h1 {
    padding-left: 20px;
    font-size: 24px;
  }

  .header p {
    padding-left: 20px;
    font-size: 12px;
  }

  .footer h1 {
    font-size: 18px;
  }

  .blogs-container {
    flex-direction: column;
    align-items: center;
  }

  .blog-card {
    width: 80%; 
    margin-bottom: 20px; 
  }
}

@media (max-width: 576px) {
  .header h1 {
    font-size: 22px;
  }

  .header p {
    font-size: 11px;
  }

  .footer h1 {
    font-size: 16px;
  }

  .blog-card {
    width: 90%; 
  }

  .read-more {
    padding: 8px 16px; 
  }

  .blog-title {
    font-size: 18px; 
  }

  .blog-text {
    font-size: 12px; 
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 20px;
  }

  .header p {
    font-size: 10px;
  }

  .footer h1 {
    font-size: 14px; 
  }

  .read-more {
    padding: 6px 12px; 
  }

  .blog-title {
    font-size: 16px; 
  }

  .blog-text {
    font-size: 10px; 
  }
}